:root {
  --primary1: #272a33;
  --primary2: #272a31;
  --secondary: #ec5242;
  --secondary-dark: #cc4030;
  --secondary-darker: #9e2a1d;
  --neutral: #d3d3d3;
  --third: #f7f7f7;
  --fourth: #424146;
  --neutral-darker: #999;
  --text-color: #5b5b5b;
  --sans-font: 'kanit', 'sans-serif';
  --serif-font: 'Lato', 'serif';
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary);
}

.upper-nav1-desktop {
  display: none;
}

.upper2-nav-desktop {
  display: none;
}

.hamburger {
  font-size: 45px;
  color: var(--primary2);
  cursor: pointer;
}

.upper {
  background: url('./img/mobile-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
}

.upper-content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding-left: 30px;
}

.upper-header {
  margin: 10px 0;
  color: var(--secondary-dark);
  font-size: 60px;
  font-weight: bolder;
}

.upper-content h3 {
  font-size: 30px;
  font-weight: 300;
  color: var(--secondary);
}

.upper-text {
  margin-top: 50px;
  border: 10px solid white;
  width: 95%;
  line-height: 30px;
  padding: 10px;
  font-size: 17px;
  font-weight: 500;
}

.event-date {
  margin-top: 90px;
}

.event-address {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 200;
  text-decoration: underline;
  margin-bottom: 70px;
  padding-bottom: 50px;
}

.program {
  background-color: var(--primary2);
  background-image: url('./img/program-bg.jpg');
  padding-bottom: 100px;
}

.program-header {
  text-align: center;
  color: white;
  padding: 80px 0;
}

footer span {
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  color: var(--secondary-dark);
}

.program-header span {
  width: 80px;
  display: inline-block;
  height: 3px;
  background: var(--secondary);
}

.item {
  background-color: var(--text-color);
  gap: 5px;
  margin: 15px;
}

.program-items {
  display: flex;
  flex-direction: column;
}

.item .item-icon {
  float: left;
  padding-top: 8px;
}

.item .program-sub-header {
  float: left;
  margin: 25px;
  width: 100px;
  color: var(--secondary);
}

.item .program-description {
  margin: 25px 0;
  width: 90%;
  margin-left: 70px;
  color: var(--third);
}

.program-btn {
  padding: 25px 10px;
  margin: 0 10%;
  margin-top: 40px;
  margin-bottom: -60px;
  border-radius: 0;
  background-color: #ec5242;
}

.program-btn a {
  color: var(--third);
}

.partner {
  text-align: center;
  background-color: var(--fourth);
}

.partner-header {
  padding: 55px 0;
  color: var(--neutral-darker);
}

.partner-lists span {
  font-size: 32px;
  margin: 0 10px;
  color: var(--neutral-darker);
}

.partner-header span {
  width: 40px;
  background-color: var(--secondary);
  display: inline-block;
  height: 4px;
}

.partner-lists {
  padding-bottom: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.speaker-header span {
  width: 40px;
  background-color: var(--secondary);
  display: inline-block;
  height: 4px;
}

.partner span:hover {
  cursor: pointer;
  color: var(--neutral);
  font-weight: 700;
}

.li-whitened {
  color: var(--neutral) !important;
}

.AIfooter {
  background-color: var(--secondary-dark);
}

#footer-text {
  font-size: 28px;
  font-weight: 700;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--text-color);
}

.closeImg {
  text-align: right;
  padding-top: 60px;
  padding-right: 60px;
  cursor: pointer;
}

#overlay ul {
  text-align: center;
  list-style-type: none;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

#overlay li {
  margin-bottom: 10px;
  padding: 10px;
}

#overlay li a {
  font-size: 40px;
  font-weight: 700;
  color: var(--secondary-dark);
  text-decoration: none;
}

#overlay li a:hover {
  color: var(--secondary-darker);
}

.AIinPhoto {
  width: 400px;
  height: 400px;
}

.photo-header {
  text-align: center;
  padding: 100px 0;
  font-size: 40px;
  font-family: var(--serif-font);
  font-weight: 400;
  color: var(--secondary-dark);
}

.seeUsInPhotos {
  background-color: var(--primary2);
  background-image: url('./img/program-bg.jpg');
}

.seeUsInPhoto {
  width: 100%;
  margin-left: 100px;
  margin-right: 30px;
  display: grid;
  row-gap: 30px;
  grid-template-columns: auto;
  padding-bottom: 50px;
}

.Speakers {
  background-color: var(--third);
}

.speaker {
  display: flex;
  margin: 0 16px;
  margin-bottom: 36px;
}

.speakerImages {
  background: url('./img/dot.svg');
  background-size: 5rem;
  background-repeat: no-repeat;
}

.speakerImage {
  width: 200px;
  height: 200px;
  margin: 20px 10px 20px 20px;
}

#speakers-con {
  display: grid;
  grid-template-columns: auto;
  padding: 0 50px;
  padding-bottom: 100px;
}

.text-container {
  padding-top: 20px;
}

.speaker-header {
  text-align: center;
  padding: 100px 0;
}

.text-container h3 {
  color: var(--secondary-dark);
  margin-top: 5px;
}

.text-container p {
  color: var(--primary1);
  margin-top: 5px;
}

@media all and (min-width: 768px) {
  .upper-nav1-desktop {
    display: block;
  }

  .upper-nav1-desktop ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-left: 100px;
    background-color: var(--primary1);
    width: 100%;
  }

  .upper-nav1-desktop ul li a {
    margin-left: 30px;
    margin-right: 30px;
    color: var(--third);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
  }

  .upper2-nav-desktop {
    display: flex;
    justify-content: space-around;
  }

  #logo-image {
    width: 100px;
    height: 90px;
    color: var(--secondary);
  }

  .nav-upper-header {
    color: var(--secondary);
  }

  .upper-nav-logo {
    display: flex;
    align-items: center;
  }

  .upper2-nav-desktop ul {
    display: flex;
    padding-top: 30px;
    list-style: none;
    padding-left: 25px;
  }

  .upper2-nav-desktop ul li a {
    font-size: 24px;
    text-decoration: none;
    list-style: none;
    margin-left: 55px;
    color: var(--neutral-darker);
    font-weight: 400;
  }

  .upper2-nav-desktop ul li a:hover {
    color: var(--secondary-dark);
  }

  .hamburger {
    display: none;
  }

  .upper {
    background-image: url('./img/desktop-bg2.png');
  }

  .upper-text {
    width: 70%;
  }

  .upper-content {
    padding-left: 200px;
  }

  .program-items {
    display: flex !important;
    flex-direction: row !important;
    margin: 0 60px;
  }

  .event-address {
    padding-bottom: 100px !important;
  }

  .program-btn {
    text-align: center;
    background-color: var(--primary1);
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .partner-lists span {
    padding: 10px;
    font-size: 44px !important;
    font-weight: 600;
    color: var(--secondary-dark);
  }

  .li-whitened:hover {
    color: var(--secondary-dark);
  }

  #footer-text {
    margin-left: -100px;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
  }

  .program-description {
    padding-right: 60px;
  }

  .upper-text-about {
    font-size: 18px;
    font-family: var(--sans-font);
    font-weight: 300;
    margin-left: 150px;
  }

  .upper-header--about {
    margin-top: -80px;
    text-align: center;
  }

  .AIinPhoto {
    width: 400px;
    height: 400px;
  }

  .photo-header {
    text-align: center;
    padding: 100px 0;
    font-size: 40px;
    font-family: var(--serif-font);
    font-weight: 400;
    color: var(--secondary-dark);
  }

  .seeUsInPhotos {
    background-color: var(--primary2);
    background-image: url('./img/program-bg.jpg');
  }

  .seeUsInPhoto {
    width: 100%;
    margin: 0 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-bottom: 50px;
  }

  #speakers-con {
    display: grid;
    grid-template-columns: auto auto;
    padding-bottom: 100px;
  }

  .MoreOrLess {
    display: none;
  }

  .speaker {
    gap: 20px;
  }
}

@media all and (max-width: 768px) {
  #speaker5,
  #speaker6 {
    display: none;
  }

  .MoreOrLess {
    margin-top: -100px;
    border: 1px solid var(--secondary);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
  }

  .item-icon {
    width: 10%;
    margin-top: 20px;
  }

  .program-description {
    padding-right: 40px;
  }

  .program-items {
    margin-left: auto;
  }

  #speakers-con {
    padding-left: 0;
    padding-right: 50px;
  }

  .speakerImage {
    width: 100px;
    height: auto;
    margin: 20px 10px 20px 20px;
  }

  .program-btn {
    text-align: center;
  }

  .MoreOrLess:hover {
    cursor: pointer;
    color: var(--secondary-dark);
    font-weight: 700;
    border-color: var(--neutral);
  }
}
